<!-- _menu.html.erb -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-3">
  			
  		</div>
  		<div class="col-xs-6">
  			<div class="name-brand">
  				<a href="#">Verizon</a>
  			</div>
  		</div>
  		<div class="col-xs-3">
  			
  		</div>
  	</div>    
  </div><!-- /.container -->
</nav>