<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="question">
				<h3>Overall satisfaction of service</h3>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-2">
						<div class="option0">
							<input type="checkbox" id="mycheck0" class="grayborder redborder">
							<label for="mycheck0" id="labelcheck" class="">
								0%
							</label>
						</div>
					</div>
					
					<div class="col-xs-2">
						<div class="option0">
							<input type="checkbox" id="mycheck1" class="grayborder orangeborder">
							<label for="mycheck1" id="labelcheck" class="">
								25%
							</label>
						</div>
					</div>

					<div class="col-xs-2">
						<div class="option0">
							<input type="checkbox" id="mycheck2" class="grayborder yellowborder">
							<label for="mycheck2" id="labelcheck" class="">
								50%
							</label>
						</div>
					</div>

					<div class="col-xs-2">
						<div class="option0">
							<input type="checkbox" id="mycheck3" class="grayborder turqoiseborder">
							<label for="mycheck3" id="labelcheck" class="">
								75%
							</label>
						</div>
					</div>

					<div class="col-xs-2">
						<div class="option0">
							<input type="checkbox" id="mycheck4" class="grayborder greenborder">
							<label for="mycheck4" id="labelcheck" class="">
								100%
							</label>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
